registry=https://npm-2haohr.dianmi365.com
//npm-2haohr.dianmi365.com/:_authToken="vnOvVcjbLHzYCrEsX14MbQ=="
always-auth=true
sass-binary-site=https://npm.taobao.org/mirrors/node-sass
sass_binary_site=http://npm.taobao.org/mirrors/node-sass
puppeteer_skip_chromium_download=true
puppeteer-download-host=https://npm.taobao.org/mirrors
chromedriver-cdnurl=https://npm.taobao.org/mirrors/chromedriver